

.footer {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
  border-radius: 70px;
  margin-top: 100px;
  background: linear-gradient(110.15deg, #4a4b50 1.86%, #0d0d0f 98.63%);
  color: #fff;
  
}

.container {
  width: 90%;
  margin: auto;

}

.users {
  border-radius: 50px;
  background-color: rgba(196, 196, 196, 0.17);
  margin: 50px 0 0;
  padding: 30px ;

  display: flex;
  justify-content: space-around;
  align-items: center;

  
}

.users__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 2;
}

.user {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
