.main {
  font-family: sans-serif;
  background: linear-gradient(110.15deg, #4A4B50 1.86%, #0D0D0F 98.63%);
  border-radius: 67px;
  margin: auto;
  margin-top: 50px;
  width: 90%;
}
.container {
  width: 1100px;
  margin: auto;
}

.container_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_logo {
  width: 70px;
  height: 70px;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav ul {
  list-style: none;
}
.headerTitle {
  text-align: center;
  color: #fff;
}

.cart {
  position: relative;
  width: 300px;
  border-radius: 10px;

  margin: 50px 30px;
}

.cart .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  color: #fff;
  height: 100%;
  padding: 50px 5px;
  background: linear-gradient(110.15deg, #4A4B50 1.86%, #0D0D0F 98.63%);
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.cart:hover .info {
  transform: perspective(2000px) rotateY(0deg);
}

.cart .button {
  width: 70%;
  height: 0px;
  background: #ffc107;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.cart .butto__close{
  width: 70%;
  height: 0px;
  background: #aaaaaa;
}

.cart:hover .button {
  transform: perspective(2000px) rotateY(0deg);
}

.cart .image {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
}
.header_logo {
  margin-top: 10px;
}

.cart .image img {
  width: 100%;
  transition: .5s;
}

.cart:hover .image img {
  opacity: .5;
  transform: translateX(30%);
  /*100%*/
}

.block_cart {
  text-align: center;
}


.block_cart p {
  font-size: 18px;
  font-weight: 300;
}

.button {
  position: absolute;
  top: 305px;
  left: 0;
  width: 70%;
}

.button button {
  margin: 10px 0 0;
  padding: 10px 30px;
  background: #F3775B;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}


.block_cart button:hover {
  background: #ff7455;
}
