.header {
  width: 90%;
  max-height: 100%;
  margin: 50px auto 0;
  background: linear-gradient(110.15deg, #4a4b50 1.86%, #0d0d0f 98.63%);
  border-radius: 70px;
  position: relative;
  padding: 30px 0;
}

.header__container {
  width: 90%;
  margin: auto;
}

.header__logo {
  width: 50px;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px ;
}

.header__container hr {
  margin-top: 20px;
}

.header__navbar__text {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.header__links {
  color: rgb(233, 233, 233);
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.15em;
  cursor: pointer;
  position: relative;
  padding: 15px 20px;
  display: inline-block;
}

.header__links:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__links:hover:after {
  width: 100%;
  left: 0;
}

.header__main {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__info {
  margin-left: 40px;
  width: 45%;
}

.header__gallery {
  margin-right: 40px;
  width: 45%;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__gallery img {
  width: 100%;
  height: 600px;
  -webkit-user-drag: none;
  border-radius: 10px;
}

.header__h1 {
  font-size: 64px;
  color: aliceblue;
}

.header__p {
  margin-top: 30px;
  color: rgb(138, 138, 138);
}

.header__imgInfo {
  margin-top: 40px;
  -webkit-user-drag: none;
}

.header__contacts {
  width: 500px;
  max-width: 100%;
  height: 300px;
  background-color: #4b4c50;
  border-radius: 25px;
  margin-top: 50px;

  display: flex;
  justify-content: space-between;
}

.contacts__left__block {
  width: 80%;
  padding: 15px;
}

.left__block__item {
  width: 100%;
  height: 33%;
  border-bottom: 2px solid rgb(138, 138, 138);
  padding-top: 15px;
}

.left__block__item:last-child {
  border: none;
}

.left__block__item h6 {
  font-size: 14px;
  color: #e3e3e3;
}

.left__block__item p {
  font-size: 14px;
  margin-top: 20px;
  color: #c2c2c2;
}

.left__block__item div {
  margin-top: 20px;
}

.left__block__item a {
  font-size: 14px;
  margin-right: 10px;
  color: #c2c2c2;
}

.left__block__item a:hover {
  color: #fff;
}

.contacts__right__block {
  width: 20%;
  height: 100%;
  border-radius: 25px;
  padding: 10px;
  background-color: #f3775b;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
align-items: center;
}

.contacts__right__block img {
  display: block;
  width: 50px;
  height: 50px;
  filter: invert(90%); 
  -webkit-filter:invert(90%); 
}